* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter";
}


.navbar {
    width: 100%;
    background-color: red;
}

.book-a-demo {
    display: flex;
    justify-content: center;
    width: 100%;
}

.demo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.img {
    width: 90vw;
    height: 60vh;
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 10px;
}

img {
    width: 100%;
    height: 100%;
}

.call {
    justify-content: center;
    display: flex;
    width: 90vw;
    margin-top: 1vw;
    background-color: #e6e6e6;
}

.h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 4vw; */
    padding: 19px;
}

h2 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 32px;
}

.span {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
}

p {
    font-weight: 400;
    display: flex;
    justify-content: center;
    width: 55%;
    text-align: center;
}

button {
    width: 100%;
    background-color: black;
}

.btn {
    display: flex;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
}

.butt {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* height: 25vh; */
    padding: 21px;
}

.callbutton {
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    height: 9.5vh;
}

.callbutton>.btn1 {
    background: linear-gradient(to right, #BC8DF4, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    align-self: center;
    font-weight: 600;
    text-transform: uppercase;
}

.h4 {
    width: 5vw;
    text-align: center;
}

.callbutton>i {
    height: 20px;
    color: white;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    font-size: 23px;
    position: relative;
    background-color: green;
    left: -0.5rem;
    border-radius: 100px;
    border: none;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .img {
        width: 90vw;
    }

    .call {
        width: 90vw;
    }


    .h2 {
        height: 3rem;
    }

    h2 {
        font-size: 18px;
    }

    p {
        text-align: left;
        width: 100%;
        padding: 18px;
    }

    .butt {
        flex-wrap: wrap;
        height: 25vw;
    }

    .callbutton {
        height: 9.5vw;
    }

    .h4 {
        width: 100%;
    }
}